<% content_for :title do %>
  Магазин <%= @store.manager_name %>
  <% if !@store.percent.zero? %>
    <span class="percent"><%= '+' if @store.percent.positive?  %><%= "#{@store.percent}" %>%</span>
  <% end %>
<% end %>

<% content_for :head do %>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=369d354e-0df0-4d9d-bb3a-08bc6a532a15" type="text/javascript"></script>
<% end %>

<%= turbo_frame_tag @store do %>
  <div class="container mx-auto px-5">
    <div class="flex justify-between items-center mb-3">
      <div class="flex gap-3">
        <%= button_to store_update_feed_path(@store), class: 'btn btn-success loader-btn', title: "Обновить фид",
                      data: { controller: 'btn_preloader', action: 'click->btn_preloader#call' } do %>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"/>
          </svg>
          <span class="hidden md:inline-block">Обновить фид</span>
        <% end %>

        <%= button_to store_update_ban_list_path(@store), class: 'btn loader-btn !bg-gray-800 hover:!bg-black' do %>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"/>
          </svg>
          <span class="hidden md:inline-block">Обновить Black list</span>
        <% end %>
      </div>
      <%= link_to 'Авито-менеджер', store_avito_dashboard_path(@store), class: 'hover:underline hover:text-blue-600', data: { turbo: false }, title: 'Перейти в Авито-менеджер' %>
    </div>

    <div data-controller="tabs" data-tabs-active-tab-classes="border-b-2 border-indigo-600 text-indigo-600" data-tabs-inactive-tab-classes="text-gray-500 hover:text-gray-700">
      <!-- Tabs (buttons) -->
      <div role="tablist" aria-label="Store sections" class="flex gap-2 overflow-x-auto -mx-5 md:-mx-0">
        <button type="button"
                role="tab"
                data-action="click->tabs#switch"
                data-tabs-target="tab"
                aria-selected="true"
                class="ms-5 md:ms-0 px-3 py-2 text-sm font-medium -mb-px border-b-2 border-transparent focus:outline-none">
          Основная информация
        </button>

        <button type="button"
                role="tab"
                data-action="click->tabs#switch"
                data-tabs-target="tab"
                aria-selected="false"
                class="px-3 py-2 text-sm font-medium -mb-px border-b-2 border-transparent focus:outline-none">
          Адреса магазина
        </button>

        <button type="button"
                role="tab"
                data-action="click->tabs#switch"
                data-tabs-target="tab"
                aria-selected="false"
                class="px-3 py-2 text-sm font-medium -mb-px border-b-2 border-transparent focus:outline-none">
          Слои картинки
        </button>

        <button type="button"
                role="tab"
                data-action="click->tabs#switch"
                data-tabs-target="tab"
                aria-selected="false"
                class="me-5 md:me-0 px-3 py-2 text-sm font-medium -mb-px border-b-2 border-transparent focus:outline-none">
          Объявления
        </button>
      </div>

      <!-- Panels -->
      <div class="mt-3">
        <!-- 1 -->
        <section role="tabpanel" data-tabs-target="panel">
          <a href="<%= edit_store_path(@store.id) %>" class="mb-3 inline-flex items-center rounded-lg bg-yellow-500 px-3 py-2 text-white hover:bg-yellow-600">Edite</a>

          <ul class="divide-y rounded-lg border">
            <% @store.attributes.each do |key, value| %>
              <% next if key.match?(/^id|created_at|updated_at/) %>
              <li class="p-3 overflow-hidden">
                <strong class="font-semibold"><%= key %>:</strong>
                <span class="ml-1"><%= key.match?(/description|desc_ad_import|desc_product/) ? value.html_safe : value %></span>
              </li>
            <% end %>
          </ul>
        </section>

        <!-- 2 -->
        <section role="tabpanel" data-tabs-target="panel" class="hidden">
          <div class="flex justify-end">
            <%= render partial: '/addresses/new_address_btn', locals: { store: @store } %>
          </div>

          <ul class="mb-3 divide-y rounded-lg border p-3 mt-3" id="addresses">
            <%= render @addresses %>
          </ul>

          <%= turbo_frame_tag :test_img do %>
            <%= render partial: '/stores/test_img' %>
          <% end %>
        </section>

        <!-- 3 -->
        <section role="tabpanel" data-tabs-target="panel" class="hidden">
          <%= render partial: '/image_layers/new_image_layer_btn', locals: { store: @store } %>

          <ol class="list-decimal rounded-lg border p-3" id="image_layers">
            <%= render @image_layers %>
          </ol>
        </section>

        <!-- 4 -->
        <section role="tabpanel" data-tabs-target="panel" class="hidden">
          <%= turbo_frame_tag :ads do %>
            <%= render partial: '/ads/ads_list' %>
          <% end %>
        </section>
      </div>
    </div>
  </div>
<% end %>
