<li class="list-group-item list-group-item-action" id="settings_new">
  <%= form_with(model: @setting, url: '/settings', method: :post,
                data: { controller: "clear-form", action: "turbo:submit-end->clear-form#clearForm" }) do |form| %>
    <div class="flex gap-3 justify-between">
      <div class="col-12 col-md-2">
        <%= form.text_field :variable, placeholder: 'Введите имя переменной', class: 'form-control' %>
      </div>

      <div class="col-12 col-md-3">
        <%= form.text_field :value, placeholder: 'Введите значение переменной', class: 'form-control' %>
      </div>

      <div class="col-12 col-md-6">
        <%= form.text_field :description, placeholder: 'Введите описание переменной', class: 'form-control' %>
      </div>

      <div class="col-12 col-md-1">
        <%= form.submit 'Add', class: 'btn !bg-green-700' %>
      </div>
    </div>
  <% end %>
</li>
