<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= content_for(:title) || "Avito Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application' %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <%= render 'partials/notices/notices' %>
    <header>
      <%= render '/partials/header' %>
    </header>
    <main>
      <div class="container mx-auto px-5">
        <h1 class="main-h1 mb-3 mt-3"><%= yield :title %></h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <%#= render_breadcrumbs tag: 'li', separator: ' / ', class: 'breadcrumb-item' %>
          </ol>
        </nav>
      </div>

      <%= yield %>
    </main>
    <%= render '/partials/footer' %>
  </body>
</html>
